.mainInfo {
	flex-wrap: wrap;
	flex-basis: 60%;
}

.mainInfo button {
	font-size: 20px;
}

.proofContainer {
	display: flex;
	flex-direction: column;
}

.proofContolls {
	align-self: center;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 30%;
	margin: 10px 0;
}

.emptyProofList {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.proofs{
	flex: 1;
}