.container {
	margin: 20px 0;
}

.skillArea,
.skills,
.skillItem {
	display: flex;
	align-items: center;
}

.skillArea {
	gap: 50px;
}

.skills {
	gap: 20px;
}
.skillItem {
	flex-direction: column;
	justify-content: center;
}

.top0 {
	background: linear-gradient(94.23deg, #f9e389 1.1%, #eaa849 99.17%);
}

.top1 {
	background: linear-gradient(97.59deg, #b5ccde 15.65%, #7284ac 98.59%);
}

.top2 {
	background: linear-gradient(
		274.53deg,
		#d1704e -5.7%,
		#e89266 -5.7%,
		#efb39e 91.55%
	);
}
