.SliderTalent {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	position: relative;
	width: 60%;
	max-width: 250px;
	background-color: #fff;
}

.talentPhoto {
	width: 100%;
	height: 100px;
	position: relative;
	overflow: hidden;
	border-radius: 10px 10px 0 0 ;
	background: linear-gradient(87.27deg, #9cdaed 3.18%, #0093c1 63.05%);
}

.talentInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.talentName {
	text-transform: uppercase;
	color: #000000;
	font-family: 'Sarabun';
	font-weight: 500;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.skillBox {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 10px;
}

.default {
	display: none;
}

.avatar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 90px !important;
	width: 90px !important;
}
