@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/* .dialog {
    display:flex;
} */

.dialog th {
    color: #fff;
    background-color: var(--primary);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.body td {
    border-bottom: 1px solid var(--primary);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.NonKudo{
    margin: 0 auto;
}

.closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
}