.responseForm {
	display: flex;
	flex-direction: column;
	gap: 30px;
	max-width: 600px;
}

.symbolCounter {
	position: absolute;
	bottom: 0;
	right: 10px;
	font-size: small;
}

.reponseContainer {
	border: 1px solid rgb(179, 176, 176);
	border-radius: 10px;
	padding: 20px;
	display: flex;
	gap: 30px;
	flex-direction: column;
}

.responseFull {
	width: 600px;
	white-space: pre-wrap;
	word-break: break-all;
	margin: 15px 0;
}

.responseGeneral {
	width: 700px;
	word-break: break-all;
	justify-content: flex-start;
	text-align: start;
	max-width: 80%;
}

.vacancyTitle:hover {
	color: var(--primary);
	cursor: pointer;
}

.responseGeneral:hover {
	box-shadow: 2px 2px 2px var(--primary);
}

.vacancyTitle {
	flex: 1;
}

.authorBlock,
.vacancyTitle,
.authorResponse,
.controllButtons,
.mainInfo {
	display: flex;
	justify-content: space-between;
}

.authorResponse b,
.authorResponse time,
.authorResponse p {
	color: rgb(141, 141, 141);
}

.mainInfo,
.authorResponse {
	gap: 15px;
}

.sponsorContainer {
	display: grid;
	grid-template-areas:
		'response controlls'
		'form form';
	align-items: center;
	column-gap: 20px;
	grid-template-columns: 1fr 2fr;
}

.sponsorForm {
	grid-area: form;
}

.sponsorsControlls {
	grid-area: controlls;
	width: 70%;
}

.sponsorBlock h3 {
	margin: 10px 0;
}

.sponsorBlock .responseFull {
	grid-area: response;
}

@media screen and (max-width: 900px) {
	.responseForm,
	.reponseFull {
		width: 100%;
	}
}

@media screen and (max-width: 700px) {
	.responseGeneral {
		width: 350px;
	}
}
