.responseForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

.controllButtons {
    display: flex;
    justify-content: space-between;
}

.symbolCounter {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: small;
}