@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

* {
	margin: 0;
	padding: 0;
    font-family: 'Rubik', sans-serif;
    --primary: #48BDE2;
    --secondary: #FFBF5B;
    --dark: #292A2D;
}

a{
    text-decoration: none;
}

.appContainer{
    flex: 1;
}

#root{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
