.Skill {
	border-radius: 100px;
	width: max-content;
	padding: 12px;
	display: flex;
	align-items: center;
	height: 15px;
}

.Skill p {
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 10px;
	color: white;
	text-transform: uppercase;
	font-weight: 400;
}

.showFull p{
	max-width: 120px;
}