.Skill {
	border-radius: 100px;
	width: max-content;
	padding: 12px;
	display: flex;
	align-items: center;
	white-space: nowrap;
	height: 15px;
}

.Skill p {
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 10px;
	color: white;
	text-transform: uppercase;
	font-weight: 400;
}

/* .showFull {
	width: 120px;
}
.showFull > div {
	max-width: 120px;
	transition: all 0.3s ease-in;
}

.showFull:hover > div {
	overflow: visible;
	max-width: max-content;
	transform: scale(1.1) translateY(-5px) translateX(-5px);
}

.showFull:hover p {
	overflow: visible;
} */
